### --- ENVIRONMENT & SECRETS ---
# Ignore virtual environments
.venv/

### --- DATA & LOGS ---
# Ignore all the data and log folder
data/
logs/

### --- PYTHON BYTECODE ---
__pycache__/
.pytest_cache/